<ul id="navi"> 
<li class="metab selected" id=""><strong>{$username}</strong><span></span>
<li class="" id=""><a href="{$www}/community">Community</a><span></span>
<li class="tab-register-now" id="tab-register-now"><a href="{$www}/logout">Logout</a><span></span>
</ul> 
<div id="habbos-online"><div class="rounded"><span>{$users_online} player(s) online</span></div></div> 
</div> 
</div> 
<script type="text/javascript">if (!$(document.body).hasClassName('process-template')) { Rounder.init(); }</script>
<div id="content-container"> 
<div id="navi2-container" class="pngbg"> 
<div id="navi2" class="pngbg clearfix"> 
<ul> 
<li class=" selected last"><strong>Me</a></strong></div> 
</ul>
</div> 