<div id="footer" class="new_and_improved">
<p class="footer-links"><a href="#">Customer Support</a> | <a href="#">Parents</a> | <a href="#">Terms of Use & Privacy Policy</a> | <a href="#">Infringements</a> | <a href="#">Habbo Way</a> | <a href="#">Safety</a> | <a href="#">For Advertisers</a></p>
{nocache}<p class="copyright">Powered by {$cms_rev}. Currently running {$queries} queries.<br /> All rights go to their respective owners.</p>{/nocache}
</div>
</div>
</div>
<script type="text/javascript">
if (typeof HabboView != "undefined") {
HabboView.run();
}
</script>
</body>
</html>